.hero-bg {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('assets/IMG_2656.jpg');
    background-size: cover;
    background-position: center;
}

.map-container {
    height: 500px;
    border: 2px solid #0066B1;
}
.marker-popup img {
    max-height: 150px;
    width: auto;
}
#roadtripMap {
    z-index: 0 !important;
    position: relative;
}
